@{
    ViewBag.Title = "Connexion";
}

@model SpaceAlert.Web.Models.AccountViewModel

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        @Html.Partial("ConnexionForm")
    </div>
</div>


