<nav class="menu hidden">

    <a class="menu-item reverse-item"> <i class="octicon octicon-rocket"></i> </a>
    <a href="#" class="menu-item"><i class="fa fa-cube"></i></a>
    <a href="#" class="menu-item bad"><i class="fa fa-cube"></i></a>
    <a href="#" class="menu-item"><i class="octicon octicon-hubot"></i></a>

</nav>