<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink((string)Session["pseudo"], "Index", "Account")</li>
    <li>@Html.ActionLink("(se déconnecter)", "Deconnexion", "Account")</li>
</ul>

