@{
    ViewBag.Title = "Home Page";
}
@model SpaceAlert.Web.Models.AccountViewModel

<div class="row vertical-middle">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
        @Html.Partial("ConnexionForm", @Model)
    </div>
    <div class="col-xs-1 text-center">ou</div>
    <div class="col-xs-2">
        @Html.Partial("InscriptionForm", @Model)
    </div>
    <div class="col-xs-1 text-center">ou</div>
    <div class="col-xs-2">
        Jouer sans s'inscrire
    </div>
    <div class="col-xs-2"></div>
</div>