@model SpaceAlert.Web.Models.CardViewModel
<div class="carte" data-action="@Model.Type" data-mouvement="@Model.Direction">
    <div class="flipper">
        <div class="front">
            @{
                //string imgPath = string.Concat(Model.Type, "_", Model.Direction, ".png");
                string imgPath = "carte_mouvement.png";
                <img src="~/Content/Medias/@imgPath" />
            }
        </div>
        <div class="back">
            <img src="~/Content/Medias/carte_dos.png" />
        </div>
    </div>
</div>