<div class="carte">
    <div class="flipper">
        <div class="front">
            <img src="~/Content/Medias/carte_mouvement.png" />
        </div>
        <div class="back">
            <img src="~/Content/Medias/carte_dos.png" />
        </div>
    </div>
</div>