@model SpaceAlert.Web.Models.CardViewModel
<div class="modal" id="menaceModal">
    <div class="presenter">
        <div class="carte posay" data-action="@Model.Type" data-mouvement="@Model.Direction">
            <div class="flipper">
                <div class="front">
                    <img src="@Model.FrontImgUri" />
                </div>
                <div class="back">
                    <img src="@Model.BackImageUri" />
                </div>
            </div>
        </div>
    </div>
</div>