<div class="ligne">
    <div class="carte-container"></div>
    <div class="carte-container"></div>
    <div class="carte-container"></div>
    <div class="carte-container"></div>
    <div class="carte-container"></div>
    <div class="carte-container"></div>
    <div class="carte-container"></div>
</div>