<div class="ligne">
    <div class="carte-container" data-tour="1"></div>
    <div class="carte-container" data-tour="2"></div>
    <div class="carte-container" data-tour="3"></div>
    <div class="carte-container" data-tour="4"></div>
    <div class="carte-container" data-tour="5"></div>
    <div class="carte-container" data-tour="6"></div>
    <div class="carte-container" data-tour="7"></div>
</div>
<div class="ligne">
    <div id="paddingLeft"></div>
    <div class="carte-container" data-tour="8"></div>
    <div class="carte-container" data-tour="9"></div>
    <div class="carte-container" data-tour="10"></div>
    <div class="carte-container" data-tour="11"></div>
    <div class="carte-container" data-tour="12"></div>
</div>