<div class="grid-cell salle">
    <div class="ligne">
        <div></div>
        <div><img data-character="blue" class="draggable" src="~/Content/Medias/Guss/blueguss.png" /></div>
        <div></div>
        <div></div>
    </div>
    <div class="ligne">
        <div></div>
        <div></div>
        <div></div>
        <div class="blue-container"></div>
    </div>
</div>