@model SpaceAlert.Web.Models.SalleViewModel
<div class="grid-cell salle">
    @for (int i = 0; i < 4; i++)
    {
        <div class="ligne">
            @for (int j = 0; j < 5; j++)
            {
                if (Model.ContainersPos.ContainsKey(new Tuple<int, int>(i, j)))
                {
                    <div class="@Model.ContainersPos[new Tuple<int, int>(i, j)]-container">
                        @if (Model.ContainsChar)
                        {
                            <img data-character="@Model.ContainersPos[new Tuple<int, int>(i, j)]" class="draggable" src="~/Content/Medias/Guss/@Model.ContainersPos[new Tuple<int, int>(i, j)]guss.png" />
                        }
                    </div>
                }
                else
                {
                    <div></div>
                }
            }
        </div>
    }
</div>