<div class="grid-cell salle">
    <div class="ligne">
        <div></div>
        <div class="red-container"><img data-character="red" class="draggable" src="~/Content/Medias/Guss/redguss.png" /></div>
        <div class="blue-container"><img data-character="blue" class="draggable" src="~/Content/Medias/Guss/blueguss.png" /></div>
        <div class="yellow-container"><img data-character="yellow" class="draggable" src="~/Content/Medias/Guss/yellowguss.png" /></div>
        <div></div>
    </div>
    <div class="ligne">
        <div></div>
        <div class="green-container"><img data-character="green" class="draggable" src="~/Content/Medias/Guss/greenguss.png" /></div>
        <div></div>
        <div class="purple-container"><img data-character="purple" class="draggable" src="~/Content/Medias/Guss/purpleguss.png" /></div>
        <div></div>
    </div>
    <div class="ligne">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="ligne">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
