<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=localhost;uid=root;pwd=root;database=spacealert;"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DbConnectionString" value="server=localhost;port=8042;uid=Kukukun;pwd=minilogo;database=spacealert;" />
  </appSettings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config/vaisseau.xml" />

      <!-- Missions -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Missions.Tutos/Tuto1.xml" />

      <!--! Actions des menaces -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces/MenaceActions.xml" />

      <!-- Menaces -->

      <!-- Menaces blanches -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-01.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-02.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-03.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-04.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-05.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-06.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-07.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-08.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-09.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-10.xml" />

      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-01.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-02.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-03.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-04.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-05.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-06.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-07.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-08.xml" />
    </context>
    <!-- Données statiques -->

    <!-- Vaisseau -->
    <objects xmlns="http://www.springframework.net">
      <object id="Vaisseau" type="SpaceAlert.Model.Plateau.Vaisseau" singleton="false">
        <property name="NbCapsules" value="3" />
        <property name="NbRoquettes" value="3" />
        <property name="Interceptors" value="True" />
        <property name="RobotsActifs">
          <list>
            <value>False</value>
            <value>False</value>
          </list>
        </property>
        <property name="Zones">
          <dictionary key-type="SpaceAlert.Model.Helpers.Enums.Zone" value-type="SpaceAlert.Model.Plateau.InGameZone">
            <entry key="BLEUE" value-ref="ZoneBleue" />
            <entry key="BLANCHE" value-ref="ZoneBlanche" />
            <entry key="ROUGE" value-ref="ZoneRouge" />
          </dictionary>
        </property>
      </object>

      <!-- Liste des menaces -->
      <object id="MenacesBlanches" type="SpaceAlert.Model.Menaces.ListOfMenaces" singleton="false">
        <!--  type="System.Collections.Generic.Dictionary&lt;SpaceAlert.Model.Helpers.Enums.TypeMenace, System.Collections.Generic.List&lt;SpaceAlert.Model.Menaces.Menace&gt;&gt;"-->
        <constructor-arg>
          <dictionary key-type="SpaceAlert.Model.Helpers.Enums.TypeMenace">
            <entry key="MENACE_EXTERNE">
              <list element-type="SpaceAlert.Model.Menaces.Menace">
                <ref object="PulseBall" />
                <ref object="Destroyer" />
                <ref object="StealthFighter" />
                <ref object="EnergyCloud" />
                <ref object="Gunship" />
                <ref object="CryoshieldFighter" />
                <ref object="Fighter" />
                <ref object="ArmoredGrappler" />
                <ref object="Amoeba" />
                <ref object="Meteoroid" />
              </list>
            </entry>
            <entry key="MENACE_EXTERNE_SERIEUSE">
              <list element-type="SpaceAlert.Model.Menaces.Menace">
                <ref object="Frigate" />
                <ref object="Man-Of-War" />
                <ref object="LeviathanTanker" />
                <ref object="PulseSatellite" />
                <ref object="CryoshieldFrigate" />
                <ref object="InterstellarOctopus" />
                <ref object="Maelstrom" />
                <ref object="Asteroid" />
              </list>
            </entry>
          </dictionary>
        </constructor-arg>
      </object>
    </objects>

  </spring>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Connexion" timeout="2880"/>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
