<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects" />

      <!-- Vaisseau -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config/vaisseau.xml" />

      <!-- Missions -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Missions.Tutos/Tuto1.xml" />

      <!--! Actions des menaces -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces/MenaceActions.xml" />

      <!-- Menaces -->

      <!-- Menaces blanches -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-01.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-02.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-03.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-04.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-05.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-06.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-07.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-08.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-09.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-10.xml" />

      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-01.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-02.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-03.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-04.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-05.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-06.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-07.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-08.xml" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="GameContext" type="SpaceAlert.Model.Jeu.GameContext" singleton="false">
        <property name="Partie" ref="Game"/>
        <property name="MenacesDisponibles" ref="MenacesBlanches" />
        <property name="MenacesDetruites">
          <list element-type="SpaceAlert.Model.Menaces.Menace"/>
        </property>
        <property name="MenacesSurvecues">
          <list element-type="SpaceAlert.Model.Menaces.Menace"/>
        </property>
      </object>

      <object id="Game" type="SpaceAlert.Model.Jeu.Game" singleton="false">
        <property name="Vaisseau" ref="Vaisseau"/>
        <property name="Mission" ref="Tuto1" />
      </object>
    </objects>
  </spring>

</configuration>