<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects" />

      <!-- Vaisseau -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config/vaisseau.xml" />

      <!-- Missions -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Missions.Tutos/Tuto1.xml" />

      <!--! Actions des menaces -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces/MenaceActions.xml" />

      <!-- Menaces -->

      <!-- Menaces blanches -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-01.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-02.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-03.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-04.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-05.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-06.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-07.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-08.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-09.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Normales/E1-10.xml" />

      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-01.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-02.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-03.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-04.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-05.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-06.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-07.xml" />
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces.Blanches.Serieuses/SE1-08.xml" />

      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Menaces/ListeMenaces.xml" />
      
      <!-- rampes -->
      <resource uri="assembly://SpaceAlert.Business/SpaceAlert.Business.Config.Rampes/Rampes.xml" />

      <resource uri="assembly://SpaceAlert.Tests/SpaceAlert.Tests/Menace1.xml"/>
      
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="GameContext" type="SpaceAlert.Model.Jeu.GameContext" singleton="false">
        <property name="Partie" ref="Game"/>
        <property name="TourEnCours" value="1"/>
        <property name="MenacesDisponibles" ref="MenacesBlanches" />
        <property name="Rampes">
          <dictionary key-type="SpaceAlert.Model.Helpers.Enums.Zone">
            <entry key="ROUGE">
              <ref object="Rampe1"/>
            </entry>
            <entry key="BLANCHE">
              <ref object="Rampe1"/>
            </entry>
            <entry key="BLEUE">
              <ref object="Rampe1"/>
            </entry>
          </dictionary>
        </property>
      </object>

      <object id="Game" type="SpaceAlert.Model.Jeu.Game" singleton="false">
        <property name="Vaisseau" ref="Vaisseau"/>
        <property name="Mission" ref="MissionTest" />
        <property name="MenacesExternes">
          <dictionary key-type="SpaceAlert.Model.Helpers.Enums.Zone"/>
        </property>
        <property name="Joueurs">
          <list>
            <ref object="Joueur1"/>
          </list>
        </property>
      </object>

      <object id="MissionTest" type="SpaceAlert.Model.Jeu.Mission">
        <property name="NbTours" value="12"/>
        <property name="TypeMission" value="TUTORIEL"/>
        <property name="Evenements">
          <list>
            <ref object="Evenement1"/>
          </list>
        </property>
      </object>

      <object name="Joueur1" type="SpaceAlert.Business.Factories.JoueurFactory" factory-method="CreateJoueur">
        <constructor-arg name="membreId" value="42"/>
        <constructor-arg name="nomPersonnage" value="Dieu"/>
        <constructor-arg name="captain" value="True"/>
      </object>
    </objects>
  </spring>

</configuration>