html {
    height: 100%;
}

body {
    height: 100%;
}

#infoJeu {
    height: 75%;
}

#infoJeu > div {
    height: 100%;
    border-bottom: 1px solid black;
}

#infoJeu > div:first-child {
    border-right: 1px solid black;
}

#infoJeu > div:last-child {
    border-left: 1px solid black;
}

#playerInfo {
    height: 25%;
}

#playerInfo > div {
    height: 100%;
}

#playerDeck {
    border-right: 1px solid black;
}

#plateau {
    background-image: url("Medias/plateau.jpg");
    -ms-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#imgPlateau {
    height: 100%;
    width: auto;
}